    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About I-Ta Lee</h2>
              <br/><p>I am a third-year Ph.D student at Department of Computer Science at Purdue University, working under <a href="https://www.cs.purdue.edu/homes/dgoldwas/">Dr. Dan Goldwassser</a>. My research stands at applying (Deep) Machine Learning techniques in solving Natural Language Processing (NLP) problems. I hope to share my expertise through innovative works with engineers and information scientists all over the global. </p>
              <br>The specific research topic I am currently focussing on is Statistical Script Learning. It aims at building statistical models that capture "Common Sense" through text event distrubutions, and is capable of predicting "what happens next." In other words, given some events happened in the past, can machines infer future events with common sense? Imagine that your Siri can guess what you want while assisting you. I am enthusiastically interested in connecting NLP with such kind of real world applications!</br>
              <br/>
                <br/>
              </div>
        </div>
    </section>
